# Created by venv; see https://docs.python.org/3/library/venv.html
# Make sure your paths look like this in the root file:
Assignments/daen328_env/
Assignments/Assignment_0/
Assignments/Assignment_1/data/
__pycache__/
*.pyc
.env
.vscode/
.idea/
.DS_Store
bigquery-key.json
*-service-account*.json
*.db